


	<h1 align="center">Listing all articles</h1>
	<div align = "center"> 
		<%= will_paginate %>
	</div>
		<% @users.each do |user| %>
		<div align = "center">
			<div align = "center" ><%= gravatar_for user, size: 150 %></div>
			<h2>
			<%= link_to user.username, user_path(user) %>
			</h2>
		</div>
		<div align = "center">
			<h4>
				<%= pluralize( user.articles.size, "article") %>
			</h4>
		</div>

		
		<% end %>
	<div align = "center"> 
		<%= will_paginate %>
	</div>